body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#headline {
  padding: 5px;
  font-size: 30px;
  margin: auto;
  color: white;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

video {
  -o-object-fit: cover;
  object-fit: cover;
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -10;
}

.time-column {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
  justify-content: center;
}

.play-column {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
  justify-content: center;
}

.sound-column {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
  justify-content: center;
}

.time-button {
  color: white;
  width: 150px;
  height: 70px;
  background: none;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  transition: all 2s ease;
  margin-bottom: 40px;
}
.time-button:hover{
  background-color: rgba(255, 255, 255, 0.253);
  
}
.time-button:focus{
  background-color: rgba(255, 255, 255, 0.856);
  color: black;
}

.time-display {
  position: absolute;
  color: white;
  font-size: 50px;
  margin-top: 450px;
}

.sound-button {
  color: white;
  width: 150px;
  height: 70px;
  background: none;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  transition: all 2s ease;
  margin-bottom: 40px;
 
}
.sound-button:hover{
  background-color: rgba(255, 255, 255, 0.247);
  
}
.sound-button:focus{
  background-color: rgba(255, 255, 255, 0.377);
  
}



.outline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background: url("./svg/track-outline.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.sound-img {
  object-fit: contain;
  height: 50px;
  width: 50px;
 
}

.playing {
  animation: pulsing 1s linear infinite;
}

@keyframes pulsing {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  #headline {
    position: absolute;
    left: 5%;
    padding: 5px;
    font-size: 20px;
    margin: auto;
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .time-column {
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-evenly;
    width: 100%;
  }

  .sound-column {
    flex-direction: row;
    margin-top: 80px;
    justify-content: space-evenly;
    width: 100%;
  }

  .sound-img {
    width: 90px;
  }
  .time-button {
    color: white;
    width: 100px;
    height: 50px;
    background: none;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    transition: all 2s ease;
    margin-bottom: 40px;
  }

  .outline {
    width: 250px;
    height: 250px;
  }
  .play {
    height: 80px;
    width: 80px;
  }

  .play-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .time-display {
    font-size: 30px;
    margin-bottom: 120px;
  }
}
